@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



input:focus{
  border: 1px solid rgb(43, 216, 255);
}


.error-msg{
  color: red;
  display: none;
  font-size: 1.8vh;
}


.inputField:invalid[focused="true"] ~ span  {
  display: block;

}